.header-nav {
    background: #3b621c;
}

.headerLink {
    display: inline-block;
    padding: 15px 25px 15px;
    text-decoration: none;
}

.headerLink:visited {
    color: #fff;
    text-decoration: none;
    display: block;
}
.headerLink:hover {
    background: #487922;
}
